{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
<link href="/static/css/style.css" rel="stylesheet">
<link href="/static/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
{% endblock %}


{% block page_content %}
<div class="page-header">
    <h1>购买商品： {{ eachorder.name }}
    </h1>
</div>

<div class="container">
  <div class="container col-md-6">
    <h3>购买数量：{{ eachorder.numbers }}</h3>
    <h3>购买价格：￥{{ eachorder.pricenow }}</h3>
    <form class="form-horizontal" action="" method="post" name="eachbuy">
      {{ form.hidden_tag() }}
      <div class="form-group input-group spinner" data-trigger="spinner" id="spinner">
	<!--在form当中可以直接使用传递的值，而不需要加双括号-->
	{{ form.numbers(class="form-control", value=eachorder.numbers) }}
	<div class="input-group-addon"> 
	  <a href="javascript:;" class="spin-up" data-spin="up"><i class="icon-sort-up"></i></a> 
	  <a href="javascript:;" class="spin-down" data-spin="down"><i class="icon-sort-down"></i></a> 
	</div> 
	{% for error in form.numbers.errors %}
	<span class="help-inline">[{{ error }}]</span>
	{% endfor %}
      </div>
      <div class="control-group">
	<div class="controls">
	  <input class="btn btn-primary" type="submit">
	</div>
      </div>
    </form>
    <br><br>
    <h3>商品介绍：{{ goods.body }}</h3>
  </div>

  <div class="container col-md-6">
    {% for image in filenames %}
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 desc">
	<div class="project-wrapper">
	  <div class="project">
	    <div class="photo-wrapper">
	      <div class="photo">
	        <a class="fancybox" href="{{ image }}"><img class="img-responsive" src="{{ image }}" alt=""></a>
	      </div>
	      <div class="overlay"></div>
	    </div>
	  </div>
	</div>
      </div><!-- col-lg-4 -->
    </div><!-- /row -->
    {% endfor %}
  </div>
  
</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/fancybox/jquery.fancybox.js"></script>    
<script>
  $(function(){
  $.stellar({
  horizontalScrolling: false,
  verticalOffset: 40
  });
  });
</script>
<script type="text/javascript">
  $(function() {
  //    fancybox
  jQuery(".fancybox").fancybox();
  });
</script>
{% endblock %}
