{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
  <h1>找到{{ len }}个符合条件的商品
  </h1>
</div>

  <div class="row">	

  {% for item,image in res_images %}
    <!-- PORTFOLIO IMAGE 1 -->
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 desc">
      <div class="grid mask">
	<figure>
	  <a data-toggle="modal" href="#{{ item.name }}"><img class="img-responsive" src="{{ image[0] }}" alt=""></a>
	  <figcaption>
	    <h5>{{ item.name }} <i class="icon-heart"></i><i class="icon-heart"></i><i class="icon-heart"></i> 价格：{{ item.price }}</h5>
	    <a data-toggle="modal" href="#{{ item.name }}" class="btn btn-primary btn-lg">瞧瞧看</a>
	  </figcaption><!-- /figcaption -->
	</figure><!-- /figure -->
      </div><!-- /grid-mask -->
    </div><!-- /col -->
    
    
    <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
	 a modal for each of your projects. -->
    
    <div class="modal fade" id="{{ item.name }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	    <h4 class="modal-title">{{ item.name }}</h4>
	  </div>
	  <div class="modal-body">
	    <p><img class="img-responsive" src="{{ image[1] }}" alt=""></p>
	    <p><b><a href="{{ url_for('.goods' ,id=item.id) }}">前往购买</a></b></p>
	    <p>{{ item.body }}</p>
	    {% if current_user.is_authenticated() and current_user.can(Permission.FOLLOW) %}
	    <a class="btn btn-danger" href="{{ url_for('.cancel_goods', id=item.id) }}">删除该商品</a>
	    <a class="btn btn-primary" href="{{ url_for('.change_goods', id=item.id) }}">修改商品信息</a>
	    {% endif %}
	  </div>
	  <div class="modal-footer">
	    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
	  </div>
	</div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

  {% endfor %}

  </div><!-- /row -->
  <br>
  <br>

{% endblock %}
