{% extends "base.html" %}

{% block page_content %}
<div class="page-header">
  <div class="profile-header">
      {% if current_user.can(Permission.FOLLOW) %}
      <a class="btn btn-primary btn-lg" href="{{ url_for('.add_goods') }}">
	员工入口：添加新商品
      </a>      
      <a class="btn btn-danger btn-lg" href="{{ url_for('.delete_goods_all') }}">
	员工入口：清空所有商品
      </a>      
      {% endif %}
      {% if current_user.can(Permission.COMMENT) %}
      <a class="btn btn-primary btn-lg" href="{{ url_for('.staff_page') }}">
	员工入口：处理充值、订单
      </a>      
      {% endif %}
      {% if current_user.is_administrator() %}
      <a class="btn btn-danger btn-lg" href="{{ url_for('.edit_profile_admin', id=user.id) }}">
	修改用户信息 [Admin]
      </a>
      {% endif %}

    <h1><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ user.username }}</h1>
    {% if user.name or user.location %}
    <p>
      {% if user.name %}<p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> 真实姓名： {{ user.name }}</p>{% endif %}
      {% if user.phone %}<p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
联系方式： {{ user.phone }}</p>{% endif %}
      {% if user.location %}
    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      收货地址： <a href="http://maps.google.com/?q={{ user.location }}">
	{{ user.location }}
      </a>
      {% endif %}
    </p>
    {% endif %}
  
    {% if current_user.is_administrator() %}
    <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
联系邮箱： <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endif %}
    {% if user.about_me %}<p> <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> 自我简介： {{ user.about_me }}</p>{% endif %}
    <p>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      注册时间： {{ moment(user.member_since).format('L') }}
    </p>
    <p>
      <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
      上次登录： {{ moment(user.last_seen).format('L') }}
    </p>
    <p>
      {% if user == current_user %}
      <a class="btn btn-default" href="{{ url_for('.edit_profile') }}">
	修改个人信息
      </a>
      {% endif %}
      {% if user == current_user %}
      <a class="btn btn-default" href="{{ url_for('.his_order') }}">
	历史订单查询
      </a>
      {% endif %}
    </p>
  </div>
</div>
{% endblock %}
